# -------------------- path
snippet path "urlpatterns path" b
path('$1/', $2.as_view(), name = '$3'),$0
endsnippet

# -------------------- view
snippet view "views.py view" b
def $1(request):
	context = {}
	return render(request, '$2', context)
$0
endsnippet
