# -------------------- snip

snippet snip "The Snippet Snippet" bA
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${4}
`echo endsnippet`${0}
endsnippet

# -------------------- new

snippet new "new comment line" bA
# -------------------- $1
$0
endsnippet

# -------------------- sec
snippet sec "longer line" bA
# --------------------------------------- $1
$0
endsnippet

