# -------------------- snip

snippet snip "The Snippet Snippet" bA
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${0}
`echo endsnippet`
endsnippet

# -------------------- new

snippet new "new comment line" bA
priority $1
# -------------------- $2
$0
endsnippet

# -------------------- sec
snippet sec "longer line" bA
# --------------------------------------- $1
$0
endsnippet

